<h1> Welcome to the Astronauts Page </h1>

<% @astronauts.each do |astronaut| %>
  <li>Title: <%= astronaut.name %></li>
  <li>Age: <%= astronaut.age %></li>
  <li>Job: <%= astronaut.job %></li>
  <li>Job: <%= astronaut.job %></li>
  <!-- <% austronaut.missions.each do |mission| %>
         <p><%= mission.name %></p>
         <p><%= mission.time_in_space %></p>
  <% end %> -->
  <% end %>
<h2> Average Age: <%= @astronauts.average_age %>
